@import url('https://fonts.googleapis.com/css?family=Roboto:400,900&display=swap');

.col-lg-6, .col-sm-4, .col-sm-3, .col-sm-6, .col-lg-4, .col-md-2, .col-md-10, .col-md-3, .col-md-9, .col-md-8, .col-md-6, .col-md-12 {
  display: inline
}

.col-md {
  padding: 0 5px 10px 5px;
}

.col-sm-6 {
  padding: 0 0 0 0;
}

.col-sk {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
    padding: 0 10px 10px 10px;
}

p {
  margin-bottom: 1.2em;
  padding-top: 1.8em;
  font-size: 1rem;
  line-height: 1.7em;
  font-family: 'roboto', sans-serif;
  letter-spacing: .03em
}

h1 {
  transform: skewY(-3deg);
  margin-top: -10px;
  background: #d3e5ff;
  background: -moz-linear-gradient(45deg, #d3e5ff 1%, #8aaffa 15%, #6fbbfd 45%, #166de5 100%);
  background: -webkit-linear-gradient(45deg, #d3e5ff 1%, #8aaffa 15%, #6fbbfd 45%, #166de5 100%);
  background: linear-gradient(45deg, #d3e5ff 1%, #8aaffa 15%, #6fbbfd 45%, #166de5 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d3e5ff', endColorstr='#166de5', GradientType=1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 6.5rem;
  font-weight: 900;
  font-family: 'roboto';
  text-align: center;
  text-transform: uppercase
}

@media (max-width: 768px) {
  h1 {
    font-size: 2.5rem
  }

  .project-text {
    height: 100%!important;
  }

  .projects-row h2 {
    margin-top: 40px;
  }

  h1, #header-impressum h1 {
    font-size: 2.5rem!important
  }
}

h2 {
  position: relative;
  margin-bottom: 1.4em;
  font-size: 2.4rem;
  font-family: 'roboto';
  line-height: 1.2em;
  letter-spacing: -.04em
}


@media (max-width: 719px) {
  h2 {
    font-size: 1.5rem;
    text-align: center
  }
  h4 {
    font-size: 21px !important
  }
}

h3 {
  position: relative;
  padding-top: 7.0em;
  padding-bottom: 2.0em;
  font-size: .75rem;
  font-family: 'roboto';
  text-transform: uppercase;
  letter-spacing: .12em;
  color: #000
  }

h4 {
  position: relative;
  margin-top: 1.3em;
  margin-bottom: .2em;
  font-size: 24px;
  font-family: 'roboto';
  font-weight: 400;
  line-height: 1.0em;
  letter-spacing: -.02em
}

ul {
  list-style-type: none;
  position: relative
}

ul:before {
  content: ' ';
  position: absolute;
  z-index: 10;
  left: 9px;
  display: inline-block;
  margin-top: 5px;
  width: 1px;
  height: 100%;
  background: #000
}

li {
  margin: 60px 0;
  padding-left: 30px;
  line-height: 1.7em
}

li:before {
  content: ' ';
  position: absolute;
  z-index: 10;
  left: 0px;
  display: inline-block;
  margin-top: 3px;
  border-radius: 50%;
  width: 19px;
  height: 19px;
  background: rgb(56, 56, 56);
  background: -moz-linear-gradient(-45deg, rgba(56, 56, 56, 1) 0%, rgba(0, 0, 0, 1) 100%);
  background: -webkit-linear-gradient(-45deg, rgba(56, 56, 56, 1) 0%, rgba(0, 0, 0, 1) 100%);
  background: linear-gradient(135deg, rgba(56, 56, 56, 1) 0%, rgba(0, 0, 0, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#383838', endColorstr='#000000', GradientType=1)
}

@media (max-width: 770px) {
  ul, li {
    padding: 0
  }

  li:before, ul:before {
    display: none!important
  }
}

a {
  color: #0074ec
}

.scroll-top {
  position: fixed;
  display: none;
  z-index: 100;
  bottom: 100px;
  right: 100px;
  width: 60px;
  height: 60px;
  background-image: url("../img/up.png");
  background-size: contain;
  color: #fff;
  mix-blend-mode: luminosity
}

.scroll-top:hover {
  cursor: pointer
}

@media (max-width: 864px) {
  .scroll-top {
    bottom: 40px;
    left: 50%;
    margin-left: -20px;
    border: 2px solid #51A1F5;
    border-radius: 40px;
    width: 40px;
    height: 80px;
    background: none
  }

  .scroll-direction {
    position: absolute;
    left: 50%;
    animation: SwipeUp 1.8s linear infinite;
    margin-top: -150px;
    margin-left: -5px;
    border-radius: 50%;
    height: 10px;
    width: 10px;
    background: #51A1F5
  }

  @keyframes SwipeUp {
    0% {
      bottom: 60px
    }

    100% {
      bottom: 20px;
      opacity: 0.1
    }
  }
}

.avatar {
  width: 100%
}

.avatar img {
  position: absolute;
  right: 10%;
  width: 200px
}

.avatar-skills img {
  z-index: 1;
  right: 4%;
  margin-top: -5%;
  width: 170px
}

@media (max-width: 864px) {
  .avatar img {
    margin-top: 60px;
    margin-left: -75px;
    width: 150px
  }

  .avatar-skills img {
    margin-top: -5%;
  }

  .avatar-hobby img {
    margin-left: 0px
  }

  .skill-button {
    width: 140px!important
  }
}

.avatar-hobby img {
  z-index: 10;
  margin-top: -2%
}

.navbar {
  z-index: 100;
  margin-top: 20px
}

.navbar-nav {
  margin: 0 auto
}

.nav-link {
  font-size: 18pt;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 4pt;
  color: #fff
}

.navbar-nav a:hover {
  color: #0056B3 !important
}

.navbar-nav a {
  color: #fff !important
}

.nav-item {
  margin-right: 40px
}

.navbar-toggler {
  font-size: 30px
}

.navbar-light .navbar-toggler {
  border: none;
  border-color: none
}

.navbar-light .navbar-toggler:focus {
  outline: none !important
}

.show {
  background: rgba(255, 255, 255, .5)
}

.show .navbar-nav a {
  color: #333 !important
}

.fixed-nav {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 10
}

.goback {
  display: block;
}

.navbar-nav-fixed {
    margin: 20px 0 00px 20px
}

.nav-link-fixed {
  display: block;
  font-size: 18pt;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 4pt;
  background-image: url("../img/back.png");
  background-size: contain;
  background-repeat: no-repeat;
  padding-left: 50px !important;
  color: #073E5D !important
}

.nav-link-fixed:hover {
  text-decoration: none
}

@media(max-width:1400px) {
  .nav-link-fixed {
  padding-left: 30px !important;
  color: #fff !important;
  font-size: 12pt
  }

  .fixed-nav {
      background: #222
  }

  .navbar-nav-fixed {
    margin: 10px 0 10px 10px
  }
}

.white-bar {
  position: absolute;
  z-index: 999;
  top: 62px;
  left: 0;
  display: block;
  animation: movve 1.2s;
  transform: matrix(1, 0.60, 0, 1, 0, 0);
  transform-origin: left;
  margin-top: 200px;
  width: 100%;
  height: 100%;
  background: #fff
}

@keyframes movve {
  100% {
    matrix: (1, 0.22448, 0, 1, 0, 0)
  }

  0% {
    transform: translateY(-10px)
  }
}

#city {
  position: relative;
  overflow: hidden;
  width: auto;
  height: 40vw;
  background: #528ae4;
  background: -moz-linear-gradient(top, #4E9CDE 0%, #79b8e9 36%, #aed5e8 100%);
  background: -webkit-linear-gradient(top, #4E9CDE 0%, #79b8e9 36%, #aed5e8 100%);
  background: linear-gradient(to bottom, #4E9CDE 0%, #79b8e9 36%, #aed5e8 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#528ae4', endColorstr='#aed5e8', GradientType=0)
}

.city-section {
  position: absolute
}

.city-layer-top {
  position: absolute;
  z-index: 10;
  width: 100%
}

.city-layer-top img {
  width: 100%
}

.city-background {
  z-index: 2;
  width: 100%
}

/* Small devices (phones, 576px and up) */
@media (max-width: 575px) {
  .white-bar {
    margin-top: 220px !important
  }

  .white-bar-impressum {
    margin-top: 60px !important
  }

  .city-section {
    left: -200px;
    margin-top: -20%;
    width: 200%
  }

  #city {
    height: 125vw
  }

  .aboutme h3 {
    padding-top: 0px
  }

  th {
    padding-right: 8px
  }

  table {
    overflow: hidden !important
  }

  .mobile-hidden {
    display: none !important
  }

  .break-mobile {
    display: inline
  }

  .butterfly {
    margin-left: 45% !important
  }

  .skill-button {
    width: 80px!important
  }

  .skill-button p {
    font-size: 8.5px!important
  }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .white-bar {
    margin-top: 7px !important
  }

  .city-section {
    top: -100%;
    left: -10%;
    width: 140%
  }

  .mobile-hidden-text {
    display: inline
  }

  .break-mobile {
    display: none
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .white-bar {
    margin-top: 2px !important
  }

  .city-section {
    top: -90%;
    width: 140%
  }

  .white-bar-impressum {
    margin-top: 100px !important
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .white-bar {
    margin-top: -40px !important
  }

  .city-section {
    top: -40%;
    left: 20%;
    width: 100%
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .white-bar {
    margin-top: -40px !important
  }

  .city-section {
    top: -25%;
    width: 75%
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1600px) {
  .white-bar {
    margin-top: -40px !important
  }

  .city-section {
    top: -18%;
    width: 65%
  }

  .white-bar-impressum {
    margin-top: 20px !important
  }
}

.traffic-light {
  position: absolute;
  z-index: 16;
  left: 57%;
  margin-top: 48.7%;
  width: 28%
}

.traffic-light img {
  width: 8%
}

.illuminated-sign-position {
  position: absolute;
  left: 48.2%;
  margin-top: 40%;
  width: 100%
}

.illuminated-sign {
  position: absolute;
  z-index: 16;
  width: 10%
}

.illuminated-sign img {
  position: absolute;
  width: 15%
}

.carbon-neutral-position {
  position: absolute;
  margin-top: 20%;
  width: 100%
}

.carbon-neutral-header {
  position: absolute;
  z-index: 12;
  left: 35%;
  margin-top: 11%;
  width: 11%
}

.avatar-hello-position {
  position: absolute;
  z-index: 30;
  margin-top: 45%;
  width: 100%
}

.avatar-hello img {
  margin-left: 48%;
  width: 5%
}

.train-position {
  position: absolute;
  top: 60%;
  left: 27%;
  width: 75%
}

.train {
  position: relative;
  width: 34%
}

.train img {
  position: absolute;
  opacity: 0;
  margin-top: -15%;
  margin-left: -15%;
  width: 100%
}

.train-move {
  -webkit-animation: movetrain 5.5s alternate;
  animation: movetrain 5.5s alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-delay: 0.9s
}

@keyframes movetrain {
  100% {
    opacity: 1;
    transform: translateX(180%)
  }

  0% {
    opacity: 1;
    transform: translateY(-140%)
  }
}

.car-position {
  position: absolute;
  top: 38%;
  left: 8%;
  width: 100%
}

.car {
  position: relative;
  z-index: 8;
  width: 19%
}

.car-move {
  transform: translate(505%, 440%);
  transition: all 6.0s ease-out;
  width: 50%
}

#city .cloud {
  position: absolute;
  z-index: 12;
  left: 72%;
  margin-top: 30%;
  width: 20%
}

#city .cloud img {
  width: 100%
}

#city .cloud1 {
  position: absolute;
  z-index: 9;
  left: 52%;
  margin-top: 22%;
  width: 12%
}

#city .cloud1 img {
  width: 100%
}

.container {
  padding: 20px;
  max-width: 1040px
}

#about {
  padding-bottom: 120px
}

#about h2 {
  margin-bottom: .2em
}

#about a {
  font-weight: 900;
  color: #246293
}

.aboutme {
  padding-top: 40px
}

.aboutme hr {
  border-top: 1px solid rgba(0, 0, 0, 1);
  width: 90px
}

.handwritten {
  position: relative;
  margin-left: auto;
  margin-right: 15px
}

@media (max-width: 719px) {
  .signature {
    left: 50%;
    margin-left: -43px
  }
}

#history {
  position: relative;
  z-index: 4
}

#history p {
  line-height: 30px;
  vertical-align: middle;
  text-shadow: 1px 1px 1px #212529;
  color: #f7f7f7
}

#history li {
  margin: 0
}

#history a, #workexperience a {
  font-weight: 400;
  text-decoration: underline;
  color: #50b0ff
}

#workexperience a {
  color: #000
}

#history h2 {
  background: -moz-linear-gradient(top, rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0.7) 70%, rgba(255, 255, 255, 0) 100%);
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0.7) 70%, rgba(255, 255, 255, 0) 100%);
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0.7) 70%, rgba(255, 255, 255, 0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#b3ffffff', endColorstr='#00ffffff', GradientType=0);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent
}

#history h3 {
  margin-top: 170px;
  color: #fff
}

#history h1 {
  background: -moz-linear-gradient(left, rgba(252,252,252,0.5) 0%, rgba(208,219,221,1) 30%, rgba(252,252,252,0.5) 100%);
  background: -webkit-linear-gradient(left, rgba(252,252,252,0.5) 0%,rgba(208,219,221,1) 30%,rgba(252,252,252,0.5) 100%);
  background: linear-gradient(to right, rgba(252,252,252,0.5) 0%,rgba(208,219,221,1) 30%,rgba(252,252,252,0.5) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80fcfcfc', endColorstr='#80fcfcfc',GradientType=1 );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent
}

#history .points-last:after {
  height: 0px
}

#history .points-long:after {
  height: 550px
}

.triangle-top {
  position: absolute;
  margin-top: -20px;
  transform: skewY(-3deg);
  transform-origin: right;
  overflow: hidden;
  width: 100%;
  height: 100%
}

.star-section {
  border: none;
  width: 100%;
  height: 100%;
  background: #090a0f;
  background: -moz-linear-gradient(top, #090a0f 0%, #21538a 43%, #6ea0d3 100%);
  background: -webkit-linear-gradient(top, #090a0f 0%, #21538a 43%, #6ea0d3 100%);
  background: linear-gradient(to bottom, #090a0f 0%, #21538a 43%, #6ea0d3 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#090a0f', endColorstr='#6ea0d3', GradientType=0)
}

.star-text-row {
  margin-top: 25px;
  margin-bottom: 25px
}

.points, .points-last {
  position: relative;
  z-index: 2;
  left: 50%;
  border-radius: 50%;
  margin-top: 35px;
  margin-left: -10px;
  margin-right: 40px;
  height: 18px;
  width: 18px;
  background: rgb(56, 56, 56);
  background: -moz-linear-gradient(-45deg, rgba(56, 56, 56, 1) 0%, rgba(0, 0, 0, 1) 100%);
  background: -webkit-linear-gradient(-45deg, rgba(56, 56, 56, 1) 0%, rgba(0, 0, 0, 1) 100%);
  background: linear-gradient(135deg, rgba(56, 56, 56, 1) 0%, rgba(0, 0, 0, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#383838', endColorstr='#000000', GradientType=1)
}

.points:after, .points-last:after {
  content: '';
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  margin-top: 9px;
  height: 240px;
  width: 1px;
  background: #000
}

@media (max-width: 770px) {
  .points, .points-last {
    display: none
  }
}

.years {
  float: left;
  transform: skewY(-3deg);
  margin-top: 17px;
  margin-bottom: .0em;
  background: -moz-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
  background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#00ffffff', GradientType=0);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 40pt;
  font-family: 'roboto';
  font-weight: bold;
  text-transform: uppercase;
}

.avatarinspace-position {
  position: absolute;
  z-index: 5;
  top: 250px;
  left: 65%;
  overflow: hidden
}

.avatarinspace {
  z-index: 5;
  overflow: hidden;
  animation: MoveUpDowninSpace 4s linear infinite;
  width: 200px;
}

@keyframes MoveUpDowninSpace {
  0%, 100% {
    bottom: 20px;
    transform: skew(-10deg)
  }

  25% {
    bottom: 30px;
    transform: translateX(4px);
    transform: skew(-5deg)
  }

  85% {
    bottom: 10px;
    transform: skew(-14deg, 1deg)
  }
}

.avatarinspace img {
  z-index: 5;
  width: 240px
}

.moon {
  position: absolute;
  z-index: 4;
  top: 5%;
  left: 80%;
  overflow-x: hidden !important;
  animation: rotatemoon 30s infinite linear;
  margin-top: 250px;
  -webkit-box-shadow: 2px 0px 30px 60px rgba(152, 255, 255, 0.08);
  -moz-box-shadow: 2px 0px 30px 60px rgba(152, 255, 255, 0.08);
  box-shadow: 2px 0px 30px 60px rgba(152, 255, 255, 0.08);
  width: 200px;
  height: 200px;
  border-radius: 250px;
  background-image: url("../img/moon.png");
  background-size: contain
}

@keyframes rotatemoon {
  from {
    transform: rotate(0deg) translate(-100px) rotate(0deg)
  }

  to {
    transform: rotate(360deg) translate(-100px) rotate(-360deg)
  }
}

.stars {
  animation: stars 25s infinite;
  animation-timing-function: linear;
  width: 100%;
  height: 100%;
  background: url(../img/stars/stars.png);
}

@keyframes stars {
  0% {
    background-position-y: 0px
  }

  100% {
    background-position-y: 450px
  }
}

.stars2 {
  animation: stars2 40s infinite;
  animation-timing-function: linear;
  width: 100%;
  height: 100%;
  background: url(../img/stars/stars2.png)
}

@keyframes stars2 {
  0% {
    background-position-y: 0px
  }

  100% {
    background-position-y: 450px
  }
}

.stars3 {
  animation: stars3 17s infinite;
  animation-timing-function: linear;
  width: 100%;
  height: 100%;
  background: url(../img/stars/stars3.png)
}

@keyframes stars3 {
  0% {
    background-position-y: 0px
  }

  100% {
    background-position-y: 450px
  }
}

.stars4 {
  animation: stars4 2.5s infinite;
  animation-timing-function: linear;
  width: 100%;
  height: 100%;
  background: url(../img/stars/stars4.png)
}

@keyframes stars4 {
  0% {
    background-position-y: 0px
  }

  100% {
    background-position-y: 450px
  }
}

.stars5 {
  animation: stars4 20s infinite;
  animation-timing-function: linear;
  width: 100%;
  height: 100%;
  background: url(../img/stars/stars5.png)
}

@keyframes stars4 {
  0% {
    background-position-y: 0px
  }

  100% {
    background-position-y: 450px
  }
}

#workexperience {
  position: relative;
  overflow: hidden;
  height: 100%;
  background: #F3F3FF
}

#workexperience h1 {
  margin-top: -10px;
  background: #e50035;
  background: -moz-linear-gradient(left, #e50035 0%, #e81143 30%, #cb1d40 100%);
  background: -webkit-linear-gradient(left, #e50035 0%,#e81143 30%,#cb1d40 100%);
  background: linear-gradient(to right, #e50035 0%,#e81143 30%,#cb1d40 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e24164', endColorstr='#cb1d40',GradientType=1 );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent
}

#workexperience h2 {
  margin-bottom: 0em;
  padding-top: 0em
}

#workexperience h3 {
  margin-top: 100px
}

#workexperience li {
  margin: 15px;
  padding-left: 0px
}

#workexperience li:before {
  margin-top: 5px;
  background: #e50035
}

#workexperience ul:before {
  left: 9px;
  width: 1px;
  background: #a9b6ce
}

@media (max-width: 770px) {
  #workexperience ul li p {
    padding-left: 20px
  }

  #workexperience li:before, #workexperience ul:before {
    display: block
  }
}

#workexperience p {
  padding: 10px 0 20px 0;
  text-align: center
}

.work-triangle-bottom {
  position: absolute;
  transform: skewY(-3deg);
  transform-origin: right;
  overflow: hidden;
  margin-top: -100px;
  width: 100%;
  height: 100%;
  background: #3c86d1;
  background: -moz-linear-gradient(-45deg, #3c86d1 0%, #73afec 62%, #91c1f2 100%);
  background: -webkit-linear-gradient(-45deg, #3c86d1 0%,#73afec 62%,#91c1f2 100%);
  background: linear-gradient(135deg, #3c86d1 0%,#73afec 62%,#91c1f2 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3c86d1', endColorstr='#91c1f2',GradientType=1 );
}

#workexperience li p {
  padding: 0;
  text-align: left
}

#workexperience .office {
  position: relative;
  z-index: 2;
  left: 65%;
  margin-left: -180px;
  width: 460px
}

.workplace {
  position: relative;
  margin: 45px 0 45px 0;
  width: 100%;
  height: 300px;
  background-image: url("../img/circle.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  text-align: center
}

.workplace-text {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%)
}

.workplace-text p {
  margin: 0 !important;
  padding: 0 0 0 0 !important
}

#projects {
  position: relative;
  margin-top: -150px;
  width: 100%;
  height: 100%
}

#projects h1 {
  background: #f5f9ff;
  background: -moz-linear-gradient(left, #f5f9ff 1%, #e6eefe 15%, #e1f1ff 45%, #cee0fa 100%);
  background: -webkit-linear-gradient(left, #f5f9ff 1%,#e6eefe 15%,#e1f1ff 45%,#cee0fa 100%);
  background: linear-gradient(to right, #f5f9ff 1%,#e6eefe 15%,#e1f1ff 45%,#cee0fa 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f9ff', endColorstr='#cee0fa',GradientType=1 );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent
}

#projects h3 {
  padding-top: 17em
}

#projects .button a {
  background: none;
  color: #fff
}

.projects-row {
  margin: 20px 0 220px 0
}

.projects-row h2 {
  font-size: 1.6rem;
  margin-bottom: 1em
}

.project-text {
  padding: 0px 0 10px 0;
  height: 140px
}

.project-text-hub {
  padding: 20px 0 0px 0;
  color: #fff;
  font-size: 0.9em;
}

.project-text-hub b {
  font-size: 1.3em;
}

.project-text-hub a {
  color: #fff;
}

#projects .button a {
  border: 2px solid #fff;
  border-radius: 8px
}

.transition-up {
  transform: matrix(1, 0, 0, 1, 0, 0)
}

#skills {
  position: relative;
  z-index: 2;
  margin-top: 80px;
  height: 100%
}

#skills h4 {
  position: relative;
  margin-top: 1.3em;
  margin-bottom: .2em;
  background: #e50035;
  background: -moz-linear-gradient(left, #e50035 0%, #e81143 30%, #cb1d40 100%);
  background: -webkit-linear-gradient(left, #e50035 0%,#e81143 30%,#cb1d40 100%);
  background: linear-gradient(to right, #e50035 0%,#e81143 30%,#cb1d40 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e24164', endColorstr='#cb1d40',GradientType=1 );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 24px;
  font-family: 'roboto';
  font-weight: 900;
  line-height: 1.0em;
  text-transform: uppercase;
  letter-spacing: .02em
}

.triangle-skills {
  position: absolute;
  transform: skewY(-3deg);
  transform-origin: right;
  margin-top: -115px;
  width: 100%;
  height: 100%;
  background: #e50035;
  background: -moz-linear-gradient(left, #e50035 0%, #e81143 30%, #cb1d40 100%);
  background: -webkit-linear-gradient(left, #e50035 0%,#e81143 30%,#cb1d40 100%);
  background: linear-gradient(to right, #e50035 0%,#e81143 30%,#cb1d40 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e24164', endColorstr='#cb1d40',GradientType=1 )
}

@media (max-width: 1750px) {
  .triangle-skills {
    margin-top: -90px
  }
}

#skills h1 {
  margin-top: -10px;
  background: #e50035;
  background: -moz-linear-gradient(left, #e50035 0%, #e81143 30%, #cb1d40 100%);
  background: -webkit-linear-gradient(left, #e50035 0%,#e81143 30%,#cb1d40 100%);
  background: linear-gradient(to right, #e50035 0%,#e81143 30%,#cb1d40 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e24164', endColorstr='#cb1d40',GradientType=1 );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent
}

.skill-button {
    width: 105px;
    margin:0 auto
}

.skill-button p {
    display: inline-block;
    padding: 0 5px 0 5px!important;
    width: 100%;
    margin: 0;
    background: none;
    border-radius: 8px;
    font-size: 12px;
    line-height: 4.0em;
    text-transform: uppercase;
    letter-spacing: 0.08em;
    color: #000
}

.skillImgAutomation {
	animation: skillAutomation 7s infinite ease-in-out;
	border-radius: 8px;
}

@keyframes skillAutomation{
  2%{
    background: #e50035;
    transform: scale(1.1);
  }
  7%{
    filter:none;
    transform: scale(1);
  }
}

.table-skills {
  position: relative;
  margin: 0;
  margin-bottom: .2em;
  padding-top: 1.3em;
  padding-right: 0px;
  background: #a21c75;
  background: -moz-linear-gradient(45deg, #a21c75 0%, #ca1d76 32%, #fd3c73 90%);
  background: -webkit-linear-gradient(45deg, #a21c75 0%, #ca1d76 32%, #fd3c73 90%);
  background: linear-gradient(45deg, #a21c75 0%, #ca1d76 32%, #fd3c73 90%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a21c75', endColorstr='#fd3c73', GradientType=1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 1rem;
  font-family: 'roboto';
  font-weight: 900;
  line-height: 1.0em;
  text-transform: uppercase;
  letter-spacing: .04em
}

.grey {
  padding-top: 5px;
  background: #e50035;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 0.9em;
  font-weight: 900
}

.skills-script {
  display: inline-table;
  margin-top: 20px;
  padding: 0px 0px 0px 0px;
  background: #e50035;
  background: -moz-linear-gradient(left, #e50035 0%, #e81143 30%, #cb1d40 100%);
  background: -webkit-linear-gradient(left, #e50035 0%,#e81143 30%,#cb1d40 100%);
  background: linear-gradient(to right, #e50035 0%,#e81143 30%,#cb1d40 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e24164', endColorstr='#cb1d40',GradientType=1 );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 1rem;
  font-weight: 900;
  letter-spacing: .04em
}

.skills-program {
  display: inline-table;
  margin-top: 0px;
  padding: 0px 0px 0px 0px;
  background: #fff6df;
  background: -moz-linear-gradient(left, #fff6df 1%, #fff2b9 60%);
  background: -webkit-linear-gradient(left, #fff6df 1%,#fff2b9 60%);
  background: linear-gradient(to right, #fff6df 1%,#fff2b9 60%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fff6df', endColorstr='#fff2b9',GradientType=1 );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 1rem;
  font-weight: 900;
  letter-spacing: .04em
}

.gold {
  padding-top: 5px;
  background: #ffeaba;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 0.9em;
  font-weight: 900
}

#skill-diagramm {
  position: relative;
  margin-top: 70px;
  padding-bottom: 60px;
  height: 100%
}

#skill-diagramm h4 {
  position: relative;
  margin-bottom: .2em;
  margin-top: 1.3em;
  background: #fff;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: 'roboto';
  font-weight: 900;
  line-height: 1.0em;
  text-transform: uppercase;
  letter-spacing: .02em
}

#skill-diagramm p {
  padding-bottom: 30px;
  color: #fff;
}

#activities {
  position: relative;
  width: 100%;
  height: 100%;
  padding-top: 0px
}

.sky {
  position: absolute;
  transform: skewY(-3deg);
  transform-origin: right;
  overflow: hidden;
  margin-top: -115px;
  width: 100%;
  height: 100%;
  background: #bfddff
}

#activities p {
  padding-top: 1.0em;
  color: #000
}

#activities h1 {
  opacity: 0.9;
  margin-top: -10px;
  background: rgb(154, 241, 117);
  background: -moz-linear-gradient(-45deg, rgba(154, 241, 117, 1) 0%, rgba(45, 201, 110, 1) 34%, rgba(42, 178, 144, 1) 68%, rgba(34, 130, 66, 1) 100%);
  background: -webkit-linear-gradient(-45deg, rgba(154, 241, 117, 1) 0%, rgba(45, 201, 110, 1) 34%, rgba(42, 178, 144, 1) 68%, rgba(34, 130, 66, 1) 100%);
  background: linear-gradient(135deg, rgba(154, 241, 117, 1) 0%, rgba(45, 201, 110, 1) 34%, rgba(42, 178, 144, 1) 68%, rgba(34, 130, 66, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#9af175', endColorstr='#228242', GradientType=1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent
}

#activities h4 {
  position: relative;
  margin-top: 1.3em;
  margin-bottom: .2em;
  background: #1b9345;
  background: -moz-linear-gradient(-45deg, #1b9345 0%, #1fb995 31%, #20ce6b 100%);
  background: -webkit-linear-gradient(-45deg, #1b9345 0%, #1fb995 31%, #20ce6b 100%);
  background: linear-gradient(135deg, #1b9345 0%, #1fb995 31%, #20ce6b 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1b9345', endColorstr='#20ce6b', GradientType=1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 24px;
  font-family: 'roboto';
  font-weight: 900;
  line-height: 1.0em;
  text-transform: uppercase;
  letter-spacing: .02em
}

#activities li {
  padding: 0
}

#activities .clouds {
  position: absolute;
  z-index: 2;
  opacity: 0.6;
  width: 290px;
  height: 290px;
  background-image: url("../img/cloud.svg");
  background-size: contain;
  background-repeat: no-repeat
}

#activities .cloud1 {
  margin-top: -200px;
  margin-left: -200px;
  -webkit-animation: moveclouds 45s linear infinite;
  -moz-animation: moveclouds 45s linear infinite;
  -o-animation: moveclouds 45s linear infinite
}

#activities .cloud2 {
  margin-top: 170px;
  margin-left: 400px;
  -webkit-animation: moveclouds 32s linear infinite;
  -moz-animation: moveclouds 32s linear infinite;
  -o-animation: moveclouds 32s linear infinite
}

#activities .cloud3 {
  margin-top: 0px;
  margin-left: 0px;
  -webkit-animation: moveclouds 34s linear infinite;
  -moz-animation: moveclouds 34s linear infinite;
  -o-animation: moveclouds 34s linear infinite
}

#activities .cloud4 {
  margin-top: -40px;
  margin-left: 270px;
  -webkit-animation: moveclouds 38s linear infinite;
  -moz-animation: moveclouds 38s linear infinite;
  -o-animation: moveclouds 38s linear infinite
}

#activities .cloud5 {
  margin-top: 50px;
  margin-left: -150px;
  -webkit-animation: moveclouds 40s linear infinite;
  -moz-animation: moveclouds 40s linear infinite;
  -o-animation: moveclouds 40s linear infinite
}

#activities .cloud6 {
  margin-top: -200px;
  margin-left: -300px;
  -webkit-animation: moveclouds 50s linear infinite;
  -moz-animation: moveclouds 50s linear infinite;
  -o-animation: moveclouds 50s linear infinite
}

#activities .cloud7 {
  margin-top: -150px;
  margin-left: -700px;
  -webkit-animation: moveclouds 50s linear infinite;
  -moz-animation: moveclouds 50s linear infinite;
  -o-animation: moveclouds 50s linear infinite
}

#activities .cloud8 {
  margin-top: -140px;
  margin-left: -400px;
  -webkit-animation: moveclouds 40s linear infinite;
  -moz-animation: moveclouds 40s linear infinite;
  -o-animation: moveclouds 40s linear infinite
}

@-webkit-keyframes moveclouds {
  0% {
    left: 35%;
    transform: translateY(-10vw)
  }

  100% {
    left: 100%;
    transform: translateY(22vw)
  }
}

.butterfly {
  position: absolute;
  z-index: 2;
  transform: rotate(20deg);
  overflow-x: hidden !important;
  animation: fly 8s linear infinite;
  margin-left: 62%;
  width: 44px;
  height: 44px;
  background-image: url("../img/butterfly.gif");
  background-size: contain;
  background-repeat: no-repeat
}

@keyframes fly {
  0%, 100% {
    left: 0px
  }

  25% {
    right: -5%;
    transform: translateY(20px)
  }

  50% {
    left: 5%;
    transform: rotate(20deg) translateY(-10px)
  }
}

.triangle-above {
  position: relative;
  margin-top: -350px;
  width: 100%;
  height: 250px
}

.triangle-bottom {
  z-index: 6;
  transform: skewY(-3deg);
  transform-origin: right;
  width: 100%;
  height: 100%;
  background: #7ceab7;
  background: -moz-linear-gradient(45deg, #7ceab7 1%, #75dd94 48%, #2e926a 100%);
  background: -webkit-linear-gradient(45deg, #7ceab7 1%, #75dd94 48%, #2e926a 100%);
  background: linear-gradient(45deg, #7ceab7 1%, #75dd94 48%, #2e926a 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#7ceab7', endColorstr='#2e926a', GradientType=1)
}

.button a {
  display: inline-block;
  padding: 0 5px 0 5px!important;
  width: 100%;
  background: none;
  border: 2px solid black;
  border-radius: 8px;
  font-weight: 600;
  line-height: 4.0em;
  text-transform: uppercase;
  letter-spacing: 0.08em;
  color: #000
}

.button a {
  text-decoration: none
}

#documents {
  padding-top: 50px
}

.documents-row {
  margin: 200px 0 160px 0
}

#documents .col-sm-4 {
  padding: 0
}

#documents h1 {
  background: #000;
  -webkit-background-clip: text;
}

#contact {
  margin: 150px 0 100px 0;
}

#contact h1 {
  display: inline-block;
  margin-top: -10px;
  background: #000;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent
}

#contact-form{
    max-width: 700px;
    margin: 0 auto;
    border: 1px solid #000;
    margin-top: 70px;
    margin-bottom: 100px;
    cursor: text
  }

.contact-input {
    height: 50px;
    padding-top: 1px;
    text-align: left;
    font-weight: 100;
    font-size: 30px;
    color: #000;
    animation: blinkingcursor step-end 1s infinite;
    margin-left: 20px
}

@keyframes blinkingcursor {
  from, to {
  color: transparent;
  }
  50% {
  color: black;
  }
}

.triangle-section {
  position: relative;
  z-index: 6;
  overflow: hidden;
  margin-top: -85px;
  height: 200px
}

@media (max-width: 1000px) {
  .triangle-section {
    height: 100px
  }
}

.triangle-footer {
  position: absolute;
  transform: skewY(-3deg);
  transform-origin: right;
  width: 100%;
  height: 100%;
  background: rgb(59, 148, 221);
  background: -moz-linear-gradient(left, rgba(59, 148, 221, 1) 0%, rgba(121, 184, 233, 1) 100%);
  background: -webkit-linear-gradient(left, rgba(59, 148, 221, 1) 0%, rgba(121, 184, 233, 1) 100%);
  background: linear-gradient(to right, rgba(59, 148, 221, 1) 0%, rgba(121, 184, 233, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3b94dd', endColorstr='#79b8e9', GradientType=1)
}

footer {
  height: 100%;
  background: rgb(59, 148, 221);
  background: -moz-linear-gradient(left, rgba(59, 148, 221, 1) 0%, rgba(121, 184, 233, 1) 100%);
  background: -webkit-linear-gradient(left, rgba(59, 148, 221, 1) 0%, rgba(121, 184, 233, 1) 100%);
  background: linear-gradient(to right, rgba(59, 148, 221, 1) 0%, rgba(121, 184, 233, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3b94dd', endColorstr='#79b8e9', GradientType=1)
}

footer a, footer p {
  margin: 0;
  padding: 0;
  font-family: 'Roboto';
  font-weight: 400;
  line-height: 1.7em;
  letter-spacing: 0.11em;
  color: #fff
}

.footer-right a {
  float: right;
  padding-right: 5px;
  font-size: 11pt;
  text-transform: uppercase
}

.footer-left a {
  float: left;
  padding-left: 5px;
  font-size: 11pt;
  text-transform: uppercase
}

footer a:hover {
  color: #fff;
  text-decoration: none
}

.footer-col {
  padding: 20px 0 20px 0
}

.footer-icon {
  position: relative;
  z-index: 2;
  left: 50%;
  margin-bottom: 14px;
  margin-left: -24px;
  border: 3px solid #fff;
  border-radius: 50%;
  width: 48px;
  height: 48px
}

.message {
  background-image: url("../img/message.svg");
  background-size: contain
}

.phone {
  background-image: url("../img/phone.svg");
  background-size: contain
}

.carbon-neutral-footer {
  position: relative;
  width: 210px
}

footer hr {
  margin-top: 30px;
  background: #fff
}

.copyright {
  margin-bottom: 50px
}

.copyright p {
  opacity: 0.6;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 0.07em
}

#header-impressum {
  position: relative;
  display: block;
  overflow: hidden;
  height: 540px;
  background: #528ae4;
  background: -moz-linear-gradient(top, #4E9CDE 0%, #79b8e9 36%, #aed5e8 100%);
  background: -webkit-linear-gradient(top, #4E9CDE 0%, #79b8e9 36%, #aed5e8 100%);
  background: linear-gradient(to bottom, #4E9CDE 0%, #79b8e9 36%, #aed5e8 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#528ae4', endColorstr='#aed5e8', GradientType=0)
}

#header-impressum h1, #header-impressum h3 {
  padding: 84px 0 0 0;
  background: -moz-linear-gradient(left, rgba(247,250,255,1) 0%, rgba(247,250,255,1) 1%, rgba(234,241,254,1) 50%, rgba(255,255,255,0.6) 100%);
  background: -webkit-linear-gradient(left, rgba(247,250,255,1) 0%,rgba(247,250,255,1) 1%,rgba(234,241,254,1) 50%,rgba(255,255,255,0.6) 100%);
  background: linear-gradient(to right, rgba(247,250,255,1) 0%,rgba(247,250,255,1) 1%,rgba(234,241,254,1) 50%,rgba(255,255,255,0.6) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7faff', endColorstr='#99ffffff',GradientType=1 );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 5rem
}

.white-bar-impressum {
  position: absolute;
  top: 142px;
  left: 0;
  display: block;
  transform: matrix(1, 0.10, 0, 1, 0, 0);
  transform-origin: left;
  animation: movve 1.2s;
  width: 100%;
  height: 100vh;
  background: #fff
}

.section-impressum {
  position: relative;
  z-index: 9;
  margin-top: -100px;
  margin-bottom: 100px;
  height: 100%
}

.section-impressum h3 {
  padding: 20px 0 10px 0
}

.section-impressum p {
  padding: 0 0 40px 0
}

.section-impressum li {
  margin: 30px 0
}

.section-impressum li p {
  padding: 0
}

.project {
  margin-top: -150px
}

.project img {
  max-width: 100%;
  height: auto
}

.sprache {
  top: 10px;
  display: inline-block;
  border-radius: 50%;
  width: 19px;
  height: 19px;
  background: rgb(4,112,252);
  background: -moz-linear-gradient(left, rgba(4,112,252,1) 0%, rgba(2,103,236,1) 44%, rgba(0,91,210,1) 100%);
  background: -webkit-linear-gradient(left, rgba(4,112,252,1) 0%,rgba(2,103,236,1) 44%,rgba(0,91,210,1) 100%);
  background: linear-gradient(to right, rgba(4,112,252,1) 0%,rgba(2,103,236,1) 44%,rgba(0,91,210,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0470fc', endColorstr='#005bd2',GradientType=1 )
}

.python {
  background: #376F9E
}

.java {
  background: #f79009
}

.project li {
  margin: 10px 0;
}

.project h2 {
  margin: 40px 0 30px 0;
}

.project h3 {
  padding: 10px 0 10px 0;
  font-size: 1.1rem;
}

.steps {
  margin: 40px 0 0 0!important;
}

.project hr{
  margin: 40px 0 20px 0;
  background: #ececec;
}

.section-end {
  margin: 40px 0 20px 0!important;
  background: #000!important;
  height: 2px;

}

.component-list li p {
  padding: 0 0 0 0;
}

.project ul {
  margin-bottom: 30px;
}

.project-steps ul:before {
  left: 18px;
}

.project-steps li.steps:before {
  content: '1';
  font-size: 26px;
  font-weight: 500;
  color: #fff;
  text-align: center;
  position: absolute;
  margin-bottom: 40px;
  z-index: 10;
  left: 0px;
  display: inline-block;
  vertical-align: middle;
  padding-top: 2px;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  background: rgb(56, 56, 56);
  background: -moz-linear-gradient(-45deg, rgba(56, 56, 56, 1) 0%, rgba(0, 0, 0, 1) 100%);
  background: -webkit-linear-gradient(-45deg, rgba(56, 56, 56, 1) 0%, rgba(0, 0, 0, 1) 100%);
  background: linear-gradient(135deg, rgba(56, 56, 56, 1) 0%, rgba(0, 0, 0, 1) 100%)
}

.project-steps li.step-two:before {
  content: '2'
}

.project-steps li.step-three:before {
    content: '3'
}

.project-steps li.step-four:before {
    content: '4'
}

.project-steps li.step-five:before {
    content: '5'
}

.project-steps ul li p {
  padding: 20px 0 20px 0
}

.project li p {
    padding: 0 0 0 0
}

.project p {
  padding: 20px 0 20px 0
}

.project-table {
    display: inline-block;
    overflow: auto!important;
    border: solid 1px #ececec;
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%
}

.project-table thead th {
    border: solid 1px #ececec;
    padding: 10px;
    text-align: left
}

.project-table td {
    border: solid 1px #ececec;
    padding: 10px
}

.row-grey {
  background: #f5f7ff
}
